[Unit]
Description=service_description
After=network.target

[Service]
WorkingDirectory=/opt/spigot
ExecStart=/opt/spigot/start.sh
ExecStop=/usr/bin/killall -r "java.*-jar spigot.*"
Type=simple
PIDFile=/opt/spigot/spigot.pid

[Install]
WantedBy=multi-user.target
